* { 
    margin: 0; 
    padding: 0;
    }
body{
    background-color: #eceae7;
}
.imglogo{
    width: 221px;
    height: 76px;
    margin-left: 100px;

    
}
      
    .navbar {
        display: flex;
        position: sticky; 
        align-items: center; 
        
        cursor: pointer;
        color: #b00b18;
        
    } 
    .nav-list {
        width: 50%;
        display: flex;
        list-style-type: none;
        margin: 0px;
        padding: 0;    
    }
      
    .nav-list li {
        
        display: inline;
        float: left;
        height: 10 0px;
        
        
    }
    .txt{
        margin-top: 0px;
        margin-left: 50px;
    } 
    
    .nav-list li a {
        text-decoration: none;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        font-size: 20px;
        display: block; 
        width: 170px;
        text-align: center;
        padding-top: 30px;
        
    } 
    .background {
        background-color: #b00b18;
        background-blend-mode: darken;
        background-size: cover;
        height: 100px;
        
    }     
    /* .rightNav {
        width: 50%;
        text-align: right;
    } */
      
    /* .search {
        padding: 5px;
        font-size: 17px;
        border: 2px solid white;
        border-radius: 9px;
        color: #b00b18;     
    }       */
    /* .btn{
        margin: 10px;
        color: #b00b18;
        font-size: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        background-color: white;
        border: 2px solid white;
        border-radius: 5px;
        padding: 4px;
    } */
    